
.screen-info {
    /* position: fixed; */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
}

.info {
    /* height: 100vh; */
    position: relative;
    margin: auto;
    background-color: #fff;
}

.info__label {
    margin-top: 24px;
    margin-left: 24px;
    font-size: 16px;
    font-weight: 700;
}

.info__dct {
    margin: 20px 24px 24px 0;
    display: flex;
}

.info__dct div + div {
    margin-left: 16px;
}

.dct__left {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dct__left__avatar {
    width: 120px;
    height: 120px;
    background-image: url(../../assets/img/default-avatar.jpg);
    background-size: 120px;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin-bottom: 5px;
    border: 1px solid #bbb;
}

.dct__left__moTa {
    text-align: center;
    line-height: 7px;
}

.dct__right__title {
    font-size: 13.5px;
}

.dct__right__info {
    display: flex;
}

.dct__right__info form {
    display: flex;
    flex-direction: column;
}

.dct__right div + div {
    margin-top: 8px;
}

.dct__right .dct__right__info input {
    height: 35px;
}

.fix-1 {
    margin-top: 4px;
    /* De cach thanh gach xanh 4px */
}

.fix-2 {
    margin-right: 8px;
    /**
     * De sua phan trong .dct__right div dau tien cach 
     div sau 8px de khong bi dinh lien vao nhau 
    **/
}

/**
  * Chua tim ra nguyen nhan tai sao, nhung cac
   div cua dct__right khong nhan margin-left: 0;
  * Phai them inline: style="margin-left: 0;" 
**/

/**
* Thanh gach xanh ben duoi A. THONG TIN CHUNG: 
* <div style="height: 3px; width: 80px; background-color: #019160; border-radius: 4px; margin-left: 0; margin-top: 4px;"></div>
* Element B. THONG TIN CONG VIEC: 
* style="margin-top: 16px; margin-left: 0;"
**/