
/* input chung */

.m-input--typing {
    border: 2px solid #019160;
}

.m-input--done {
    /* trang thai da go xong */
}

.m-input--error {
    /* trang thai loi */
}

/*--------------- FIELD INPUT – LABE -------------------*/
/* label */
.m-field-input .m-field-input__label {
    color: #000000;
    font-family: GoogleSans;
    font-weight: 500;
    /* padding-bottom: 4px; */
}

/* input */
.m-field-input .m-field-input__input {
    margin-top: 4px;
    height: 40px;
    width: 240px;
    border: 1px solid #bbbbbb;
    border-radius: 4px;
    color: #000000;
    padding: 0 0 0 16px;
    font-size: 13px;
}

.m-field-input__input /* trang thai go chu */

.m-field-input__input--done /* trang thai da go xong */

.m-field-input__input--error {
    /* trang thai loi */
}

/* hint */
.m-field-input__input::placeholder {
    font-size: 11px;
    color: #bbbbbb
}

/*--------------------- INPUT ICON ----------------------*/

.m-input-icon {
    min-width: 300px;
    height: 40px;
    background-image: url(../../assets/icon/search.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 16px center;
    padding-left: 40px;
    border: 1px solid #bbbbbb;
    font-size: 13px;
    border-radius: 4px;
}

.m-input-icon::placeholder {
    font-size: 12px;
    color: #bbbbbb;
}

.m-input-icon--error {
    /* trang thai loi */
}