@import url(../assets/font/fontawesome-5.15.1/css/all.min.css);
@import url(../assets/font/fontawesome-5.15.1/js/all.min.js);
@import url(./component/button.css);
@import url(./component/input--ChuaXong.css);
@import url(./component/combo-box.css);
@import url(./component/toast.css);
@import url(./component/pop-up.css);
@import url(./component/table.css);
@import url(./component/page-navigations.css);
@import url(./component/pop-up.css);
@import url(./component/info.css);
@import url(./layout/layout.css);
@import url(./layout/header.css);
@import url(./layout/navbar.css);
@import url(./layout/content.css);

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    font-family: GoogleSans;
    font-size: 13px;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

@font-face {
    font-family: GoogleSans;
    src: url("../assets/font/GoogleSans-Regular.otf");
}

@font-face {
    font-family: GoogleSans;
    src: url("../assets/font/GoogleSans-Bold.otf");
    font-weight: 700;
}

@font-face {
    font-family: GoogleSansItalic;
    src: url("../assets/font/GoogleSans-Italic.otf");
    font-style: italic;
}

@font-face {
    font-family: GoogleSans;
    src: url("../assets/font/GoogleSans-Medium.otf");
    font-weight: 500;
}