
.header {
    width: 100%;
    height: 48px;
}

.body {
    display: flex;
    height: calc(100vh - 48px);
}

.body .body__navbar {
    width: 226px;
    height: 100%;
}

.body .body__content {
    width: calc(100% - 226px);
    height: 100%;
}